body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.center {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
}

.grid {
  display: grid;
  row-gap: 1rem;
}

.products-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  margin-top: 4rem;
  /* align-items: start; */
}
@media screen and (min-width: 576px) {
  .products-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

.product {
  background: #fff;
  margin-bottom: 2rem;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 0.25rem;
}
.product:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.img-container {
  height: 20rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-footer {
  padding: 1.5rem;
}
.product-footer h3,
.product-footer h4,
.product-footer h3 {
  font-size: 2rem;
}
.product-footer p {
  color: #afafaf;
}

p {
  margin: 0 !important;
}

.loader {
  border: 5px solid transparent;
  border-top: 5px solid #6c757d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
